<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <table class="table table-bordered table-hover">
        <tr class="info">
          <!-- <th class="text-center">#</th> -->
          <th class="text-center">Course Name</th>
          <th class="text-center">Course Price</th>
          <th class="text-center">Desc</th>
        </tr>
        <tr *ngFor="let c of courseJson ">
          <!-- <td>{{c.$key}}</td> -->
          <td>{{c.courseName}}</td>
          <td>{{c.coursePrice}}</td>
          <td>{{c.courseDesc}}</td>
          <td>
            <button class="btn btn-outline-info" (click)="getDataByKey(c)">Edit</button>
            <button class="btn btn-outline-danger" (click)="onDelete(c.$key)">Delete</button>
          </td>
        </tr>
      </table>
    </div>
    <div class="col-md-6">
      <h1>Add New Course</h1>

      <input type="text" [(ngModel)]="courseName"  class="form-control"  name="courseName" placeholder="Course Name.."><br>
      <input type="text" [(ngModel)]="coursePrice" class="form-control" name="coursePrice" placeholder="Coure Price.."><br>
      <input type="text" [(ngModel)]="courseDesc" class="form-control" name="courseDesc" placeholder="Coure Desc.."><br>

      <input type="submit" value="Add Course" (click)="addCourse()" class="btn btn-primary" >
      <input type="submit" value="Update Course" (click)="update()" class="btn btn-primary">

      <input type="submit" value="Delete Everything" (click)="deleteEverything()" class="btn btn-primary">

    </div>
  </div>
</div>